$cor-principal: blueviolet;
$cor-segundaria: aquamarine;

@mixin reset {
    margin: 0px;
    padding: 0;
}

@mixin cor-texto($cor-background, $cor-text) {
    width: 50%;
    background-color: $cor-background;
    .texto{
        margin-top: 40%;
        text-align: center;
        font: 150px;
        color: $cor-text;
    }
}

body {
    @include reset;
}

.container{
    height: 100vh;
    display: flex;
    .esquerdo {
        @include cor-texto($cor-principal, $cor-segundaria);
    }
    .direito {
        @include cor-texto($cor-segundaria, $cor-principal);
    }
}

